<!-- start comment form -->
<% unless current_user.is_a? GuestUser %>
    <%= form_for(@comment, url: '#') do |f| %>
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", id: "comment-content" %>
    </div>

    <%= f.submit 'Post Comment', class: "btn btn-primary", id: "new-comment" %>
    <% end %>
<% end %>
<!-- end comment form -->