<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Hans Kristian</h3>
        <div class="nav nav-masthead">
            <nav class="nav nav-masthead app-nav">
            <%= nav_helper 'nav-link', 'span' %> 
             <%= nav_authentication_helper 'nav-link' %>
        </div>
    </div>
</div>